@model IEnumerable<RecipeClassLibrary.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RecipeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateDrafted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePublished)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateArchived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RecipePicture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vegan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CuisineType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RecipeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDrafted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateArchived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RecipePicture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vegan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CuisineType.CuisineTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserFirstName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecipeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RecipeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RecipeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
